
<div class="container-fluid">
  <div class="row">
	  <div class="banner" style="background: #40ba85;">
	  		<br>
	  		<br>
	  		<br>
	  		<br>
		    <div class="app-title">
		   		Forrest,
		    </div>
		    <br>
		    <div class="app-description">
		   		This is our "love letter" to you. All the adventure you made possible	in one place.
		    </div>
		    <br>
		    <div class="app-title">
		   		- Fenn's Friends
		    </div>
		</div>
  </div>
</div>
<br>
<br>
<br>
<br>
<script src="//assets.juicer.io/embed.js" type="text/javascript"></script>
<link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
<ul class="juicer-feed" data-feed-id="fenn-s-friends"><h1 class="referral"><a href="http://www.juicer.io">Powered by Juicer</a></h1></ul>

<div class="container-fluid">
  <div class="row">
	  <div class="banner" style="background: #40ba85;">
	  		<br>
	  		<br>
	  		<br>
		    <br>
		    <div class="app-description">
		   		#ForrestFenn, #FennsFriends
		    </div>
		    <br>
		    <div class="app-description" style="font-size: 150%;">
		   		Use the hashtags above on Twitter & Instagram to have your posts included. Made by <a href="https://twitter.com/ZachWhelchel">@zachwhelchel</a>, <a href="https://twitter.com/briantheboomas">@briantheboomas</a>, & <a href="https://instagram.com/callietroyer/">@callietroyer</a>.
		    </div>
		</div>
  </div>
</div>
<br>
<br>
<br>
<br>
