/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:600);

body { 
	background: #40ba85;
}

.banner {
  background: #FFFFFF;
  width: 100%;
}

.app-icon-holder {
  text-align: center;
  width: 140px;
  height: 140px;
  background: #FFFFFF;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 25px;
}

.app-icon {
  text-align: center;
  width: 130px;
  height: 130px;
  background: #FFFFFF;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 5px;
}

.app-title {
font-family: 'Josefin Sans', sans-serif;  font-weight: 600;
  font-size: 220%;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  color: #FFFFFF;
}

.app-description {
font-family: 'Josefin Sans', sans-serif;  font-weight: 600;
  font-size: 220%;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  color: #FFFFFF;
  line-height: 150%;
}
